.gallery-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;

}


@media (max-width: 898px){
    .gallery-container {
        display: flex !important;
        justify-content:center !important;
        align-items: center;
        
        
    }
    
}

.gallery-img {
    width: 50%;
    
}
@media (max-width: 898px){
    .gallery-img {
        width: 100%;
    }
    
}

.description-gallery {
    width: 50%;
    
}
@media (max-width: 898px){
    .description-gallery {
        width: 100%;
    }
    
}

.description-gallery h1,
h3,
p {
    color: white !important;
    padding: 30px
}

.image-gallery-svg{
    display: none !important;
}
.first-img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 30px 30px 30px;
    color: white !important;
}
.first-img-container img{
    max-width: 80%;
}
@media (max-width: 898px){
    .first-img-container img{
        max-width: 100%;
    }
    
}

.boton-buy{
    background: #FFFF2D !important;
    color: #2F3129 !important;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px !important;
    border-radius: 10px ;
    font-size: x-large;
    width: 100%;
    
}

.boton-buy:hover,
.links a:hover {
    background-color: #fefe63;
    box-shadow: 1px 1px 10px #FFFF2D;

}
.btn-outline-success{
    border-color: #FFFF2D;
    color: #FFFF2D;
}
.btn-outline-success:hover{
    background-color: #fefe63;
    box-shadow: 1px 1px 10px #FFFF2D;
    color: black;
}

.image-gallery-image{
    width: 80% !important;
    border-radius: 15px !important;
    
}

