.container-card {
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap !important;
    padding: 0 0 30px 0;
    

}
.card1 {
    

    background-color: #1C1C1C;
    color: white;
    
    /* background-position: top; */
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none !important;

}

@media (hover:hover) {
    .card1:hover {
        
        box-shadow: 0px 0px 10px rgb(238, 255, 0);
    }

}

.card1:active {


    box-shadow: 0px 0px 10px rgb(238, 255, 0);

}
.btn-product{
    background: #FFFF2D !important;
    color: #2F3129 !important;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px !important;
    border-radius: 10px ;
    font-size: x-large;
    width: 100%;
    
}

.btn-product:hover,
.links a:hover {
    background-color: #fefe63;
    box-shadow: 1px 1px 10px #FFFF2D;

}